body{
    background-image: url('rajesh.png');
    background-size:160%;
    
    

/*h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: royalblue;
}*/

